html{
	font-size: 16px;
}
body{
	color: #323B3C;	
}
#outer{
	display: flex;
}
#output{
	font-family: Noto Sans, 
		'Noto Serif Ahom',
		"Noto Serif Balinese",
		'Noto Sans Cham',
		'Noto Sans Gunjala Gondi',
		'Noto Sans Masaram Gondi',
		'Noto Sans Kayah Li',
		Noto Sans CJK TC, Source Han Sans TC,思源黑體, Noto Sans TC,
		sans-serif;
}